.todo-list {
  margin: 0 auto;
  max-width: 600px;
  min-width: 200px;
  font-family: 'Roboto', sans-serif;
  // background-color: #f5f5f5;
  color: #333;
  padding: 20px;
  // border-radius: 8px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .wFull {
    min-width: 95%;
  }

  h1 {
    
    font-size: 40px;
    margin-bottom: 20px;
  }

  input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #388e3c;
    }
  }
  

  .filter-buttons {
    /* text-align: center; */
    margin-bottom: 20px;
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    
    button {
      padding: 8px 16px;
      border: none;
      background-color: #ddd;
      color: #333;
      border-radius: 6px;
      cursor: pointer;
      font-size: 14px;
      margin-right: 10px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #ccc;
      }
    }
  }

  .filter-buttons button {
    flex-grow: 1;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
      border-bottom: 1px solid #ddd;
      padding: 10px 0;
      padding-bottom: 8px;
      width: 100%;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }

      input[type="checkbox"] {
        margin-right: 10px;
      }

      input[type="text"],
      span {
        flex: 1;
        padding: 8px;
        border: 0px solid #ddd;
        border-radius: 0px;
        font-size: 16px;
      }

      span {
        flex: 1;
        font-size: 18px;
        line-height: 1.6;
        cursor: pointer;
        margin-right: 10px;
        min-height: 34px;
        overflow: hidden;
        white-space: pre-wrap;

        &.completed {
          text-decoration: line-through;
          color: #888;
        }
      }


      .inlineBlock {
        display: inline-block;
        align-self: baseline;
        margin-top: 10px;
      }
      .flex1 {
        display: flex;
        /* align-items: flex-start; */
        flex-grow: 1;
      }
      button {
        padding: 6px 10px;
        font-size: 14px;
        background-color: #f44336;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #d32f2f;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;

  left: 50%;
  transform: translateX(-50%);
  padding: 0px;
  border-radius: 0px;

  p {
    font-size: 12px;
    color: #888;

    a {
      color: #4caf50;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: #45a049;
      }
    }
  }
}

.footer {
  background-color: #f9f9f9;
  
}

.filter-buttons button:hover {
  background-color: #bbb;
}




